AIRTABLE_API_KEY=patFapl***********************1
AIRTABLE_BASE_ID=app*****q
AIRTABLE_TABLE=tbl*****O

AIRTABLE_PRODUCTS_API_KEY=patFapl***********************1
AIRTABLE_PRODUCTS_BASE_ID=app*****q
AIRTABLE_PRODUCTS_TABLE=tbl*****O