AIRTABLE_API_KEY=patFapl***********************1
AIRTABLE_BASE_ID=app*****q
AIRTABLE_TABLE=tbl*****O

AIRTABLE_PRODUCTS_API_KEY=patFapl***********************1
AIRTABLE_PRODUCTS_BASE_ID=app*****q
AIRTABLE_PRODUCTS_TABLE=tbl*****O

AIRTABLE_HTTP_TIMEOUT_SECONDS=90
AIRTABLE_HTTP_RETRIES=3

MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=trainer

TRAINER_JWT_SECRET=CHANGE_ME
TRAINER_JWT_EXPIRES_SECONDS=604800
TRAINER_AUTH_COOKIE_NAME=trainer_auth

TRAINER_ADMIN_EMAIL=admin@example.com
