NEXT_PUBLIC_TRAINER_API_BASE=http://localhost:8010

NEXT_PUBLIC_AIRTABLE_API_KEY=patk*****3a32126f
NEXT_PUBLIC_AIRTABLE_BASE_ID=app***wzcq
NEXT_PUBLIC_AIRTABLE_TABLE=tbl**2h9U

#MONGODB_URI=mongodb+srv://lorenzomktg_db_user:LtNOPhL6wLuq1B4W@lorenzo.pxnciab.mongodb.net/?appName=Lorenzo
MONGODB_URI=mongodb+srv://lo*****er:qt8***8d@cluster2.rycm6zd.mongodb.net/lorenzodb?appName=Cluster2
MONGODB_DB_NAME=lorenzodb
MONGODB_Username=lor*****er
MONGODB_Password=qt8****mRd

